.about-us {
  width: 100vw;

  &__paragraph {
    z-index: 3;
  }

  &__image-container {
    display: flex; 
    z-index: -1;
    height: min-content;
    position: relative;
    top: -18px;
    margin-bottom: 13px;

    @include onTablet {
      top: -40px;
      margin-bottom: 0;
      height: 360px;
    }

    @include onSmallDesktop {
      top: -120px;
      height: 420px;
    }

    @include onDesktop {
      height: 670px;
    }
  }

  &__button {
    z-index: 3;
  }

  &__image {
    width: 100%;
    height: fit-content;
    
    &--phone {
      display: flex;

      @include onTablet {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onTablet {
        display: flex;
      }
    }
  }
}