.button {
  border-radius: 8px;
  background-color: $color-blue-button;
  color: $color-text-white;
  padding: 16px 0;
  font-family: inherit;
  font-size: 16px;
  transition: background-color 0.3s;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: $color-black-text
  }

  &:disabled {
    background: linear-gradient(0deg, rgba(29, 113, 216, 0.38), rgba(29, 113, 216, 0.38));
    color: #ffffff80;
  }
}