.comments {

  @include onDesktop {
    margin-bottom: 200px;
  }

  &__title-block {
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    display: flex;

    @include onTablet {
      padding: 30px 50px;
      background: linear-gradient(183.41deg, rgba(237, 242, 250, 0.98) -53.98%, rgba(237, 242, 250, 0) 97.18%);
    }

    @include onSmallDesktop {
      padding: 80px 60px;
    }
  }

  &__title {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;

    @include onDesktop {
      margin-bottom: 20px;
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 60px;
    }
  }

  &__paragraph {
    margin-bottom: 20px;
    text-align: center;

    @include onDesktop {
      margin-bottom: 60px;
      text-align: left;
    }
  }

  &__button {
    width: 100%;
    display: none;

    @include onTablet {
      display: block;
    }

    &--phone {
      display: block;

      @include onTablet {
        display: none;
      }
    }
  }

  &__swiper {
    display: flex;
    justify-content: center;
  }

  &__slide {
    height: fit-content;
  }

  &__img-container {
    height: 400px;
    width: 200px;
    margin: 0 auto 0 auto;

    @include onSmallDesktop {
      height: 584px;
      width: 280px;
    }

    @include onDesktop {
      width: 400px;
      height: 760px;
    }
  }

  &__img {
    width: 100%;
    transform: translateX(10px);

    @include onSmallDesktop {
      transform: translateX(24px);
    }
  }

  &__arrow-button {
    &::after {
      transform: translateY(-34px);

      @include onSmallDesktop {
        transform: translate(-18px, -34px);
      }
    }

    &--prev {
      &::after {
        transform: translateY(-34px) rotate(180deg);

        @include onSmallDesktop {
          transform: translate(18px, -34px) rotate(180deg);
        }
      }
    }
  }
}