.faq {

  @include onTablet { 
    margin-bottom: 80px;
  }

  @include onSmallDesktop {
    margin-bottom: 114px;
  }

  &__questions {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include onTablet {
      border: 1px solid $color-dark-grey-text;
      border-radius: 8px;
      box-shadow: 0px 4px 24px 0px #22222212;
      padding: 20px 20px;
    }

    @include onSmallDesktop {
      padding: 60px 60px;
    }
  }

  &__question-block {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #00000099;

    &--last {
      border-bottom: 1px solid #00000099;
      margin-bottom: 30px;
    }
  }

  &__question-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    @include onTablet {
      padding: 10px 0;
    }

    @include onSmallDesktop {
      padding: 20px 0;
    }
  }

  &__question {
    font-size: 18px;
    line-height: 27px;
    width: 238px;
    font-weight: 400;

    @include onTablet {
      width: 80%;
    }

    @include onSmallDesktop {
      font-size: 26px;
      line-height: 39px;
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url(../assets/img/plus-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 16px;
    width: 16px;
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;

    @include onTablet {
      height: 20px;
      width: 20px;
    }
  }

  &__form-link {
    text-align: center;
    color: $color-black-text;
    margin-bottom: 20px;

    @include onTablet {
      text-align: right;
      margin-bottom: 0;
    }
  }

  &__answer {
    text-align: left;
    transition: max-height 0.5s ease-in-out, opacity 0.6s ease-in-out, margin 0.6s ease-in-out;
    max-height: 0;
    opacity: 0;
    margin-bottom: 40px;
  }

  &__order-button {
    display: flex;
    justify-content: center;

    @include onTablet {
      display: none;
    }
  }
}