.faq {
  margin-bottom: 114px;

  &__questions {
    width: 100%;
    height: fit-content;
    background: linear-gradient(254.59deg, #BCD0EF 0%, rgba(181, 181, 181, 0.36) 100.95%),
      linear-gradient(255.35deg, rgba(237, 242, 250, 0.395) -1.33%, rgba(255, 255, 255, 0.15) 97.37%);
    border: 1px solid;
    border-image-source: linear-gradient(254.59deg, #BCD0EF 0%, rgba(181, 181, 181, 0.36) 100.95%);
    box-shadow: 0px 4px 24px 0px #22222212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 60px;
  }

  &__question-block {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #00000099;

    &--last {
      border-bottom: 1px solid #00000099;
      margin-bottom: 60px;
    }
  }

  &__question-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  &__button {
    border: none;
    background-color: transparent;
    outline: none;
    background-image: url(../../img/plus-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;
  }

  &__form-link {
    text-align: right;
    color: $color-black-text;
  }

  &__answer {
    text-align: left;
    transition: max-height 0.5s ease-in-out, opacity 0.6s ease-in-out, margin 0.6s ease-in-out;
    max-height: 0;
    opacity: 0;
    margin-bottom: 40px;
  }
}