.footer {
  background-color: $color-blue-button;
  padding-top: 72px;

  &__logo {
    display: flex;
    margin-bottom: 116px;
  }

  &__paragraph {
    color: $color-text-white;
    margin-bottom: 40px;
  }

  &__item {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    color: $color-text-white;
  }

  &__logo-block {
    padding-top: 46px;
    display: flex;
    flex-direction: column;
  }

  &__social-logo {
    margin: 0 0 14px auto;
  }
}