.header {
  width: 100vw;
  height: 100%;
  margin-bottom: 60px;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__nav {
    padding-top: 40px;
    align-items: center;
    margin-bottom: 20px;
  }

  &__menu-list {
    display: flex;
    flex-direction: row;
  }

  &__menu-item {
    margin-right: 40px;

    @include onTablet {
      margin-right: 20px;
    }

    @include onDesktop {
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__menu-link {
    text-decoration: none;
    color: $color-black-text;
    font-size: 1.125rem;
    border-bottom: 2px solid transparent;

    @include onTablet {
      font-size: 16px;
    }

    @include onDesktop {
      font-size: 18px;
    }

    &--tel {
      margin-right: 0;
      margin-left: auto;
      width: fit-content;
      text-align: right;
    }

    &:hover {
      border-bottom: 2px solid $color-black-text;
    }
  }

  &__text-block {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    position: relative;
  }

  &__img {
    z-index: -1;
    position: absolute;
    width: 100%;
  }

  &__title {
    position: relative;
    padding-top: 198px;
    padding-bottom: 247px;
    padding-left: 115px;
    width: 512px;
    color: $color-text-white;
    z-index: 3;

    @include onTablet {
      padding-top: 142px;
      font-size: 42px;
      padding-left: 82px;
    }

    @include onDesktop {
      padding-top: 172px;
      padding-left: 94px;
      font-size: 60px;
    }
  }

  &__form-block {
    margin-top: 90px;
    padding: 20px 25px 31px;
    box-shadow: -5px 5px 23px 0px #0000002B;
    z-index: 5;
    background-color: $color-text-white;
    border-radius: 2%;
    height: fit-content;
  }

  &__form-title {
    margin-bottom: 9px;
    line-height: 39px;
  }

  &__paragraph {
    color: #797171;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}