.logo {
  background-image: "../../img/favicon.svg";
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  display: block;

  &::after {
    content: '';
    display: block;
    background-image: "../../img/TOPCLEAN.svg";
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 86px;
    height: 32px;
    margin-left: 42px;
  }
}