.our-works {
  height: fit-content;
  margin-bottom: 44px;

  @include onTablet {
    margin-bottom: 120px;
  }

  &__swiper-container {
    height: 226px;

    @include onLargePhone {
      height: 300px;
    }

    @include onTablet {
      height: fit-content;
      margin-bottom: 40px;
    }

    @include onSmallDesktop {
      height: 440px;
    }

    @include onDesktop {
      height: 540px;
    }
  }

  &__swiper {
    height: 100%;
  }

  &__swiper-wrapper {
    height: 200px;
  }

  &__slide-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    @include onTablet {
      width: 600px;
      gap: 10px;
      height: min-content;
    }

    @include onSmallDesktop {
      height: 580px;
      width: 700px;
    }

    @include onDesktop {
      width: 870px;
      height: 730px;
    }
  }

  &__image-container {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 170px;
    width: 50vw;
    display: flex;
    border-radius: 8px;

    @include onLargePhone {
      height: 238px;
    }

    @include onTablet {
      height: 290px;
      width: 230px;
    }

    @include onSmallDesktop {
      height: 78%;
      width: 100%;
    }

    &--1 {
      background-image: url(../assets/img/slides/slide-1-before.png);
    }

    &--2 {
      background-image: url(../assets/img/slides/slide-1-after.png);
    }

    &--3 {
      background-image: url(../assets/img/slides/slide-2-before.png);
    }

    &--4 {
      background-image: url(../assets/img/slides/slide-2-after.png);
    }

    &--5 {
      background-image: url(../assets/img/slides/slide-3-before.png);
    }

    &--6 {
      background-image: url(../assets/img/slides/slide-3-after.png);
    }

    &--7 {
      background-image: url(../assets/img/slides/slide-4-before.png);
    }

    &--8 {
      background-image: url(../assets/img/slides/slide-4-after.png);
    }

    &--9 {
      background-image: url(../assets/img/slides/slide-5-before.png);
    }

    &--10 {
      background-image: url(../assets/img/slides/slide-5-after.png);
    }

    &--11 {
      background-image: url(../assets/img/slides/slide-6-before.png);
    }

    &--12 {
      background-image: url(../assets/img/slides/slide-6-after.png);
    }
  }

  &__after {
    background-color: $color-blue-button;
    color: $color-text-white;
  }

  &__arrow-button {
    
    &--prev {
      ::after {
        transform: translateX(20px);
      }
    }
  }

  &__before {
    position: absolute;
    bottom: 0;
    left: 0;

    @include onTablet {
      bottom: 20px;
      left: 20px;
    }

  }

  &__after {
    position: absolute;
    left: 0;
    bottom: 0;

    @include onTablet {
      bottom: 20px;
      left: 20px;
    }
  }

  &__button {
    display: none;

    @include onTablet {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}