.price {
  &__paragraph {
    margin-bottom: 40px;
  }

  &__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 30px;
    justify-content: end;
    height: 492px;
    border-radius: 8px;
    transition: transform 0.3s;
    margin-bottom: 30px;
    z-index: -1;

    &:hover {
      transform: scale(110%);
    }

    &:nth-child(9) {
      margin-bottom: 60px;
    }

    &--2 {
      background: linear-gradient(157.34deg, #1D78DF 2.22%, rgba(29, 120, 223, 0) 218.96%);
    }

    &--5 {
      background: #51a2d9;
    }

    &--6 {
      background-color: $color-yellow;
    }

    &--8 {
      background: $color-light-blue;
    }
  }

  &__subtitle {
    color: $color-text-white;
    margin-bottom: 20px;
    text-align: left;
    z-index: 5;
  }

  &__image {
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 2;

    &--8 {
      top: 56px;
    }
  }

  &__price {
    z-index: 5;
  }
}