.about-us {
  width: 100vw;
  height: auto;

  &__paragraph {
    z-index: 3;
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: 10px;

    @include onSmallDesktop {
      margin-bottom: 20px;
    }
  }

  &__image-container {
    display: flex; 
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
    top: -20px;
    margin-bottom: -13px;

    @include onSmallDesktop {
      top: -78px;
      margin-bottom: -78px;
    }
  }

  &__button {
    z-index: 3;
  }

  &__image {
    width: 100%;
    height: 100%;    
    
    &--phone {
      display: flex;

      @include onTablet {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include onTablet {
        display: flex;
      }
    }
  }
}